<header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/">Productos DB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productos-test">Productos Test</a>
    </li>
  </ul>  
</header>