<h2 class="text-danger" id="#list">Productos</h2>
{{#if showList }}
<table class="table">
        <thead>
          <tr>           
            <th scope="col">Título</th>
            <th scope="col">Precio</th>
            <th scope="col">URL imagen</th>
          </tr>
        </thead>
        <tbody id="list">
          {{#each list}}
              <tr>                  
                  <td>{{this.title}}</td>
                  <td>{{this.price}}</td>                  
                  <td><img src="{{this.thumbnail}}" style="height:10rem;"  alt="..."></td>
                </tr>
          {{/each}}
        </tbody>
      </table>
  {{else}}
    <h5 class="alert-danger rounded p-2">No se encontraron datos</h5>  
{{/if}}
