<header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/">Productos DB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productos-test">Productos Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/info" target="_blank" rel="noreferrer noopener">Info Process</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/randoms' target="_blank" rel="noreferrer noopener">Randoms 100.000.000</a>
      <a class="nav-link" href='/randoms/500000000' target="_blank" rel="noreferrer noopener">Randoms 500.000.000</a>
    </li> 
  </ul>  
</header>