<br>
<div class="container alert alert-danger p-3">  
  <h2 class="text-danger">Hubo un error al logearse</h2>
</div>
<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = `/login`;
  }, 2000);
</script>