  <br>
    <div class="container bg-light p-3 rounded">
    <br />
      {{> welcome}}
      {{> header}}
      {{> form}}
      {{> products}}     
    </div>
  <hr>    
  <div class="container bg-light p-3 rounded">{{> chat}}</div>
  <hr>